.hero{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(102, 169, 252),rgb(162, 98, 241),rgb(181, 80, 181));
    justify-content: center;
    align-items: center;
}
.cta-button{
    background-color: white;
    border-radius: 10rem;
    width: 7rem;
    height: 10rems;
}
.cta-button:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

