/* cach 1 */
*{
    box-sizing: border-box;
}
.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
}
.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
}
.content {
    width: 660px;
    padding: 30px;
    border: 1px solid #ccc;
}
 /* cach 2 */
/* .container {
    width: 960px;
    margin: 0 auto;
    display: flex;
}
.sidebar {
    width: 258px;
    padding: 20px;
    border: 1px solid #ccc;
}
.content {
    width: 598px;
    padding: 30px;
    border: 1px solid #ccc;
} */