*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(245, 241, 235);
    color: rgb(41, 41, 125);
    line-height: 1.5;
}
header{
    background-image: linear-gradient(to bottom, rgb(193, 99, 224),rgb(231, 138, 227), rgb(247, 144, 149));
    color: white;
    line-height: 1.8;
    padding: 20px;
}
nav>ul>li>a{
    color: inherit;
    text-decoration: none;
}
nav>ul{
    list-style: none;
}
nav>ul>li>a:hover{
    color: rgb(163, 247, 255);
    text-decoration: underline;
}
.active:active{
    color: rgb(208, 255, 20);
    font-size: larger;
}
section>table{
    border-collapse: collapse;
}
section>table>thead{
    background-color: blueviolet;
    color: white;
}
section>table tr:nth-child(even){
    background-color: rgb(195, 241, 209);
}
section>table tr:hover{
    background-color: plum;
}
