header{
    position: sticky;
    display: flex;
    gap: 1rem;
}
nav:hover{
    color:rgb(255, 234, 0);
}
.menu-header{
    display: flex;
    gap: 1rem;
}
#menu-checkbox{
    display: none;
}
.hamburger-bt img{
    width: 1rem;
    height: 1rem;
}
@media (max-width: 768px) {
    .menu-header{
        display: none;
    }
    #menu-checkbox:checked~.menu-header{
        display: flex;
    }
}
.hero{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(102, 169, 252),rgb(162, 98, 241),rgb(181, 80, 181));
}



