*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
/* Navbar */
header{
    display: flex;
    background-color: plum;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
}
nav>ul>li>a:hover{
    color:blue;
    text-decoration: underline;
}
header button{
    background-color: dodgerblue;
    color: white;
    border: 1px solid;
}
/* Product Cards Grid */
img{
    width: 15rem;
    height: 15rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25%-20px);
    border: 1px solid #ccc;
    padding: 10px;
    /* Thống nhất kích thước card */
    width: 17rem;
    height: 27rem;
    margin-top: auto;
}
.card button{
    margin-top: auto;
}
